@model AutoServiceManager.Common.Model.Fault

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Fault</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CarID, "CarID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CarID", String.Empty)
                @Html.ValidationMessageFor(model => model.CarID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RepairStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RepairStatus)
                @Html.ValidationMessageFor(model => model.RepairStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IncomingDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncomingDate)
                @Html.ValidationMessageFor(model => model.IncomingDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PredictedEndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PredictedEndDate)
                @Html.ValidationMessageFor(model => model.PredictedEndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CloseDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CloseDate)
                @Html.ValidationMessageFor(model => model.CloseDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RealeseDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RealeseDate)
                @Html.ValidationMessageFor(model => model.RealeseDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Decription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Decription)
                @Html.ValidationMessageFor(model => model.Decription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IncomeToService, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncomeToService)
                @Html.ValidationMessageFor(model => model.IncomeToService)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceID, "InvoiceID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InvoiceID", String.Empty)
                @Html.ValidationMessageFor(model => model.InvoiceID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkerID, "WorkerID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("WorkerID", String.Empty)
                @Html.ValidationMessageFor(model => model.WorkerID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
