@using AutoServiceManager.Website.Models
@using Microsoft.AspNet.Identity
@Scripts.Render("~/bundles/jquery")

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="#" id="logoutLink">Wyloguj się</a></li>
        </ul>
        }
    }
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj się", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
<script type="text/javascript">
    $(function() {
        $("#logoutLink").click(function() {
            $("#logoutForm").submit();
        });
    });
</script>