@model AutoServiceManager.Common.Model.WorkTime

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie Rekordu</h2>

<h3>Jesteś pewien, że chcesz usunąć ten rekord?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RelatedWorker.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedWorker.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkerRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkerRate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
