@model IEnumerable<AutoServiceManager.Common.Model.WorkTime>

@{
    ViewBag.Title = "Index";
}
<form method="POST">

<div class="form-group">
    &nbsp;Wybierz miesiąc:&nbsp;
    <select class="form-control" name="BlockedFilter">
        <option data-name="BlockedFilter" value="1">styczeń</option>
        <option data-name="BlockedFilter" value="2">luty</option>
        <option data-name="BlockedFilter" value="3">marzec</option>
        <option data-name="BlockedFilter" value="4">kwiecień</option>
        <option data-name="BlockedFilter" value="5">maj</option>
        <option data-name="BlockedFilter" value="6">czerwiec</option>
        <option data-name="BlockedFilter" value="7">lipiec</option>
        <option data-name="BlockedFilter" value="8">sierpień</option>
        <option data-name="BlockedFilter" value="9">wrzesień</option>
        <option data-name="BlockedFilter" value="10">październik</option>
        <option data-name="BlockedFilter" value="11">listopad</option>
        <option data-name="BlockedFilter" value="12">grudzień</option>
    </select>
    <input type="text" class="form-control" name="year">
</div>
<script>
    $(function () {
        var selectedMonth = '@ViewBag.selectedMonth';
        var selectedYear = '@ViewBag.selectedYear';
        if ('' === selectedMonth && '' === selectedYear) {
            return;
        }

        if ('' != selectedYear) {
            $("[name=year]").val(selectedYear);
        } else {
            var i = new Date();
            selectedYear = i.getFullYear();
        }
        if ('' != selectedMonth) {
            $("[name=BlockedFilter]").val(selectedMonth);
        }
        var text = $("[data-name=BlockedFilter][value=" + selectedMonth + "]").text();
        var i = new Date();
        $("#h2_month").text(text + '    ' + selectedYear);
    });    
</script>


<button type="submit" class="btn btn-default">szukaj</button>

</form>

        @{
            List<SelectListItem> month = new List<SelectListItem>();

            month.Add(new SelectListItem { Text = "styczeń", Value = "0" });
            month.Add(new SelectListItem { Text = "Luty", Value = "1" });
            month.Add(new SelectListItem { Text = "marzec", Value = "2" });
            month.Add(new SelectListItem { Text = "kwiecień", Value = "3" });
            month.Add(new SelectListItem { Text = "maj", Value = "4" });
            month.Add(new SelectListItem { Text = "czerwiec", Value = "5" });
            month.Add(new SelectListItem { Text = "lipiec", Value = "6" });
            month.Add(new SelectListItem { Text = "sierpień", Value = "7" });
            month.Add(new SelectListItem { Text = "wrzesień", Value = "8" });
            month.Add(new SelectListItem { Text = "październik", Value = "9" });
            month.Add(new SelectListItem { Text = "listopad", Value = "10" });
            month.Add(new SelectListItem { Text = "grudzień", Value = "11" });
            ViewBag.Month = month;

            foreach (var m in month)
            {
                if ((int.Parse(m.Value) + 1) == DateTime.Now.Month)
                {
                    m.Selected = true;
                    Session["val"] = int.Parse(m.Value) + 1;
                    Session["year"] = int.Parse(DateTime.Now.Year.ToString());
                }
            }
        }
        <h2>
            Lista godziń przepracowanych w miesiącu
            <span id="h2_month">
            @foreach (var m in month)
            {
                if (m.Selected)
                {
                    @Html.DisplayName(m.Text + " ")
                    @Html.DisplayName(DateTime.Now.Year.ToString())
                }

            }
            </span>
        </h2>
        <hr />
        <h4></h4>

        @*<p>
            @Html.ActionLink("Dodaj nowy rekord", "Create")

        </p>*@
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RelatedWorker.FirstName)
                </th>
                <th>
                    Opis
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkerRate)
                </th>
                <th>
                    Godziny łącznie
                </th>
                <th>
                    Zarobione pieniądze
                </th>
                <th>
                    Nr rej samochodu
                </th>
                <th>
                    Opis naprawy
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (User.IsInRole("Worker"))
                {
                  
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RelatedWorker.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WorkerRate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WorkDuration)
                                </td>
                                <td>
                                    @if(item.WorkCost == 0)
                                    {
                                        <text> nie ustalono </text>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.WorkCost)    
                                    }
                                </td>
                                <td>
                                    @if (item.Fault != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.Fault.RelatedCar.RegistrationNumber)
                                    }

                                </td>
                                <td>
                                    @if (item.Fault != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.Fault.Decription)
                                    }

                                </td>
                                <td>
                                    @*@Html.ActionLink("Edycja", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id })*@
                                </td>
                            </tr>
    
                }
                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RelatedWorker.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkerRate)
                        </td>
                        <td>
                            @if (item.Fault != null)
                            {
                                @Html.DisplayFor(modelItem => item.Fault.RelatedCar.RegistrationNumber)
                            }
                          
                        </td>
                        <td>
                            @if(item.Fault != null)
                            {
                                @Html.DisplayFor(modelItem => item.Fault.Decription)    
                            }
                            
                        </td>
                        <td>
                            @Html.ActionLink("Edycja", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            }

        </table>

        @*<div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa Modelu</th>
                        <th>Producent</th>
                        <th>NR Rejestracyjny</th>
                        <th>Opis</th>
                        <th>Edycja</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() != 0)
                    {
                        @foreach (var fault in Model.FirstOrDefault().RelatedWorker.Faults)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x => fault.ID)</td>
                                <td>@Html.DisplayFor(x => fault.RelatedCar.Model.ModelName)</td>
                                <td>@Html.DisplayFor(x => fault.RelatedCar.Model.Manufacturer.Name)</td>
                                <td>@Html.DisplayFor(x => fault.RelatedCar.RegistrationNumber)</td>
                                <td>@Html.DisplayFor(x => fault.Decription)</td>
                                <td>
                                    <a href='@Url.Action("Edit", "ForemanFaults", new { id = fault.ID })'>
                                        <i class="glyphicon glyphicon-wrench" style=""></i>Edytuj
                                    </a>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>*@

    <a href='@Url.Action("Index", "WorkerFaults")'>
        <i class="glyphicon glyphicon-wrench" style=""></i>Pokaż wszystkie przydzielone prace
    </a>
