@using AutoServiceManager.Website.Models
@model CarList

@{
    ViewBag.Title = "Allcars";
}



<h2>Auta w bazie danych</h2>
<div class="row">
    <div class="col-md-12">
        <ul class="list-inline">
            <li>
                @using (Html.BeginForm("Allcars", "Secretary", FormMethod.Post, new { @class = "form-inline searchFormAllCars" }))
                {
                    <div class="form-group">
                        &nbsp;Szukaj:&nbsp;
                        @Html.TextBoxFor(objects => Model.query, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword2">Grupuj po:</label>
                        &nbsp;Sortuj po:&nbsp;
                        <select class="form-control" name="order">
                            <option value="ModelName">Modelu</option>
                            <option value="ManufacturerName">Markce</option>
                            <option value="OwnerFirstName">Imieniu właściciela</option>
                            <option value="OwnerSecondName">Nazwisku właściciela</option>
                            <option value="RegistrationNumber">Numere rejestracyjnym</option>
                            <option value="ProductionYear">Roku produkcji</option>
                        </select>

                    <label class="sr-only" for="exampleInputPassword2">Grupuj po:</label>
                        &nbsp;Wyróżnij użytkowników:&nbsp;
                        <input type="checkbox" name="highlightDifferentUser" value="true">
                    </div>
                    
                    @Html.AntiForgeryToken();
                    <button type="submit" class="btn btn-default">szukaj</button>
                    <button type="button" id="clearForm" class="btn btn-default">Czyść</button>
                }
            </li>
        </ul>
    </div>
</div>
<script>
    var previouslySelectedOrder = "@Model.order";
    var previouslySelectedQuery = "@Model.query"; 
    var highlightDifferentUser = "@Model.highlightDifferentUser";
    $(function () {
        $("#query").val(previouslySelectedQuery);
        $("[value=" + previouslySelectedOrder + "]").attr("selected", "true");
        if (highlightDifferentUser == "true") {
            $("[name=highlightDifferentUser]").attr("checked",true);
        }
        $("#clearForm").click(function () {
            $("#query").val(null);
            $("[name=highlightDifferentUser]").attr("checked", false);
            $(".searchFormAllCars").submit();
        });
    });
</script>
<div class="row">
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Rok Produkcji</th>
                    <th>Numer rejestracyjny</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Własciciel</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;
                  string lastSecondName="";
                  string lastFirstName="";
                  }

                @{
                    int color = 0;
                }

                @foreach (var item in Model.list)
                {
                    if (Model.highlightDifferentUser=="true" && (lastSecondName != item.Owner.SecondName || lastFirstName != item.Owner.FirstName) && i > 0)
                    {
                        <tr style="height:20px;"></tr><tr style="height:20px;"></tr>
                        color++;
                    }
                    <tr data-event="colorize" data-color="@color">
                        <td>
                            #@i@{i++;}
                            @color
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductionYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistrationNumber)
                        </td>
                        <td>
                            <a href='@Url.Action("Faults", "Secretary", new { SpecyficCar = item.ID })'>
                                @Html.DisplayFor(modelItem => item.Model.Manufacturer.Name)
                            </a>
                        </td>
                        <td>
                            <a href='@Url.Action("Faults", "Secretary", new { SpecyficCar = item.ID })'>
                                @Html.DisplayFor(modelItem => item.Model.ModelName)
                            </a>
                        </td>
                        @{
                    string temp = Json.Encode(new
                    {
                        Name = item.Owner.FirstName,
                        Surname = item.Owner.SecondName,
                        PhonNumber = item.Owner.Address.PhoneNumber,
                        Street = item.Owner.Address.Street,
                        Email = item.Owner.Address.Email,
                        City = item.Owner.Address.City.Name,
                        Country = item.Owner.Address.Country.Name,
                    });
                        }
                        <td data-event='showCard' data-jsondata='@temp'>
                            @Html.DisplayFor(modelItem => item.Owner.FirstName)
                            @{lastFirstName = item.Owner.FirstName;}
                            &nbsp
                            @Html.DisplayFor(modelItem => item.Owner.SecondName)
                            @{lastSecondName = item.Owner.SecondName;}
                        </td>
                    </tr>

                }
            <tbody>
        </table>
    </div>
</div>

<div id="personCard" style="background-color: rgb(230, 230, 230); position: fixed;">
    Imie:&nbsp;<span id="CardName"></span>&nbsp;<br>
    Nazwisko:&nbsp;<span id="CardSurname"></span>&nbsp;<br>
    Ulica:&nbsp;<span id="CardCity"></span>&nbsp;<br>
    Państwo:&nbsp;<span id="CardCountry"></span>&nbsp;<br>
    Email:&nbsp;<span id="CardEmail"></span>&nbsp;<br>
    Telefon:&nbsp;<span id="CardPhonNumber"></span>&nbsp;<br>
    Ulica:&nbsp;<span id="CardStreet"></span>&nbsp;<br>    
</div>
<script>
    $(function () {
        var $mouseX = 0, $mouseY = 0;
        var $xp = 0, $yp = 0;
        $("[data-event=showCard]").click(function (e) {
            var obj = $(this).data("jsondata");
                $("#CardCity").text(obj.City);
                $("#CardCountry").text(obj.Country);
                $("#CardEmail").text(obj.Email);
                $("#CardName").text(obj.Name);
                $("#CardPhonNumber").text(obj.PhonNumber);
                $("#CardStreet").text(obj.Street);
                $("#CardSurname").text(obj.Surname);
            $xp = e.pageX + 2;
            $yp = e.pageY + 2;
            $("#personCard").css({ left: $xp + 'px', top: $yp + 'px' });
            $("#personCard").show();
        });

        $("[data-event=showCard]").mouseleave(function (e) {
            $("#personCard").hide();
        });
        $("#personCard").hide();
    })
</script>

@if(Model.highlightDifferentUser=="true"){
    <script>
        var colors = ["#56656D","#6C7E88","#879EAA", "#9EB1BA", "#C1CDD3", "#D7DFE3"];
        jQuery.each($("[data-event=colorize]"), function (index, value) {
            var i = $(this).data("color");
            i = (i > colors.length - 1) ? i % (colors.length - 1): i;
            $(this).children("td").css('background-color', colors[i]);
        })
    </script>
}