@using AutoServiceManager.Website.Models
@using AutoServiceManager.Common.Model

@model FaultList

@{
    ViewBag.Title = "Allcars";
}

<h2>Auta w bazie danych</h2>
<div class="row">
    <div class="col-md-12">
        <ul class="list-inline">
            <li>
                @using (Html.BeginForm("Faults", "Secretary", FormMethod.Post, new { @class = "form-inline", role = "form", id = "CreateCustomerForm" }))
                {
                    @Html.AntiForgeryToken();
                    <div class="form-group">
                        &nbsp;Szukaj:&nbsp;
                        @Html.TextBoxFor(objects => Model.query, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword2">Grupuj po:</label>
                        &nbsp;Sortuj po:&nbsp;
                        <select class="form-control" name="order">
                            <option value="Status">Statusie</option>
                            <option value="Model">Marce</option>
                            <option value="Manufacturer">Modelu</option>
                            <option value="IncomingDate">Dacie zgłoszenia</option>
                            <option value="PredictedEndDate">Dacie zakończenia</option>
                            <option value="CloseDate">Dacie Skończenia</option>
                            <option value="RealeseDate">Dacie Wydania</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <select id="statusQuery" name="statusQuery">
                                <option value=""></option>
                                @foreach (Status suit in (Status[])Enum.GetValues(typeof(Status)))
                                                    {
                                <option value="@((int)suit)">@Html.DescriptionFor(suit)</option>
                                                    }
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">szukaj</button>
                    <button type="button" id="clearForm" class="btn btn-default">Czyść</button>
                }
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th><!--NO-->
                    <th>ID</th><!--ID-->
                    <th>Model</th><!--CAR MODEL-->
                    <th>Marka</th><!--CAR MANUFACTURER-->
                    <th>Imie</th><!--NAME-->
                    <th>Nazwisko</th><!--SURNAME-->

                    <th>Data zgłoszenia</th>
                    <th>Przewidywana data zakończenia</th>
                    <th>Data zakończenia</th>
                    <th>Data Wydania</th>
                    <th>Status</th>
                    <th>Opis</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var item in Model.list)
{
    <tr data-name="ExistingFaultInTable">
        <td>
            #@i@{i++;}
        </td>
        <td>
            @item.ID
        </td>
        <td>
            @item.RelatedCar.Model.ModelName
        </td>
        <td>
            @item.RelatedCar.Model.Manufacturer.Name
        </td>
        <td>
            @item.RelatedCar.Owner.FirstName
        </td>
        <td>
            @item.RelatedCar.Owner.SecondName
        </td>

        <td>
            @item.IncomingDate
        </td>
        <td>
            @item.PredictedEndDate
        </td>
        <td>
            @item.CloseDate
        </td>
        <td>
            @item.RealeseDate
        </td>

        <td>
            @Html.DescriptionFor(item.RepairStatus)
        </td>
        <td>
            @item.Decription.Substring(0, 10)...
        </td>
        <td style="display:none" data-name="jsonContainer">
            @Json.Encode(new
                {
                    ID = item.ID,
                    CarID = item.CarID,
                    RepairStatus = item.RepairStatus,
                    IncomingDate = item.IncomingDate.ToString(),
                    PredictedEndDate = item.PredictedEndDate.ToString(),
                    CloseDate = item.CloseDate.ToString(),
                    RealeseDate = item.RealeseDate.ToString()
                })
        </td>
    </tr>
}
                <tr data-name="AddFaultInTable">
                    <td></td>
                    <td><i class="glyphicon glyphicon-plus" style=""></i>Dodaj</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            <tbody>
        </table>
    </div>
</div>


<script>
    $(function (){
        $("[data-name=ExistingFaultInTable]").click(function () {
            var object = jQuery.parseJSON($(this).children("[data-name=jsonContainer]").text());
        }); 
    });
</script>