@Scripts.Render("~/bundles/jqueryAndval")



<div id="PartialCar">
    @Html.Partial("Car")
</div>

<div id="creteFault">
    <a href='@Url.Action("FaultCreate", "Secretary")?getCarFromSession=true'>
        <h4><i class="glyphicon glyphicon-plus" style=""></i>Dodaj usterke do ostatnio stworzonego Samochodu</h4>
    </a>
</div>

<div style="display:none;" id="CarErrorsDiv" class="validation-summary-errors" data-valmsg-summary="true">
    <pre><div class="validation-summary-errors"><ul id="CarErrorsUl"></ul></div></pre>
</div>


<div id="PartialUser">
    <hr />
        @Html.Partial("User")
    <hr/>
</div>


<div style="display:none;" id="UserErrorsDiv" class="validation-summary-errors" data-valmsg-summary="true">
    <pre><div class="validation-summary-errors"><ul id="UserErrorsUl"></ul></div></pre>
</div>



<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script>
    $.fn.selectRange = function (start, end) {
        var e = document.getElementById($(this).attr('id')); // I don't know why... but $(this) don't want to work today :-/
        if (!e) return;
        else if (e.setSelectionRange) { e.focus(); e.setSelectionRange(start, end); } /* WebKit */
        else if (e.createTextRange) { var range = e.createTextRange(); range.collapse(true); range.moveEnd('character', end); range.moveStart('character', start); range.select(); } /* IE */
        else if (e.selectionStart) { e.selectionStart = start; e.selectionEnd = end; }
    };
    $.fn.searchFor = function (str) {
        var ret = null;
        $(this).each(function (index, value) {
            if ((value.indexOf(str) != -1)) {
                ret = value;
            }
        });
        console.log(str);
        console.log(ret);
        return ret;
    }
    var citiesArray = jQuery.parseJSON('@Html.Raw(ViewBag.cities)');

     $("#PersonData_Address_TempCity").on("change click", function () {
        if (!$(this).val()) {
            return true;
        }
        var StartLength = $(this).val().length;
        var Suggestion = $(citiesArray).searchFor($(this).val());
        if (Suggestion) {
            $(this).val(Suggestion);
            $(this).selectRange(StartLength, $(this).val().length);
            return false;
        }

     });
     $(document).ready(function () {
         $("#PersonData_Address_TempCity").autocomplete({
             source: citiesArray
         });
     });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#creteFault").hide();
        $("#createCustomer").click(function () {
            $("#UserErrorsUl").html(null);
            $("#UserErrorsDiv").hide();
                    $.ajax({
                        url: "@Url.Action("AddPerson")",
                        type: "POST",
                        dataType:"json",
                        data: $("#CreateCustomerForm").serialize(),
                    statusCode: {
                        400: function(xhr, status, err) {                           
                       
                        }
                    },
                    success: function (data)
                    {
                        //console.log(data);
                        if (data.Errors !== "undefined" && data.Errors) {
                            var errors = "";
                            for (var i = 0; i < data.Errors.length; i++) {
                                errors += "<li>" + data.Errors[i] + "</li>";
                            }
                            $("#UserErrorsUl").html(errors);
                            $("#UserErrorsDiv").show();
                        }
                        if (data.Succeeded !== "undefined" && data.Succeeded == true) {
                            alert("dodano urzytkownika");
                            $("[name=OwnerID]").prepend("<option value=\"" + data.UserId + "\">" + data.UserName + "</option>");
                            console.log("<option value=\"" + data.UserId + "\">" + data.UserName + "</option>");
                        }
                    }
                    });
                });

            $("[name=OwnerID]").on("change click", function () {
                if ($(this).val()) {
                    $("#PartialUser").hide();
                } else {
                    $("#PartialUser").show();
                }
            });


                $("#PartialUser").hide();

                    $("#createCarButton").click(function () {
                        $("#CarErrorsUl").html(null);
                        $("#CarErrorsDiv").hide();
                        $.ajax({
                            url: "@Url.Action("AddCar")",
                            type: "POST",
                        dataType:"json",
                        data: $("#CreateCarForm").serialize(),
                        statusCode: {
                            400: function(xhr, status, err) {                           
                       
                            }
                        },
                        success: function (data)
                        {
                            console.log(data);
                            var errors = "";
                            if (data.Errors !== "undefined" && data.Errors) {
                                for (var i = 0; i < data.Errors.length; i++) {
                                    errors += "<li>" + data.Errors[i] + "</li>";
                                }
                                $("#CarErrorsUl").html(errors);
                                $("#CarErrorsDiv").show();
                            }
                            if (data.Succeeded !== "undefined" && data.Succeeded == true) {
                                alert("dodano auto");
                                $("#creteFault").show();
                            }
                        }
                    });
                  });

            

        });


</script>