@using AutoServiceManager.Common.Identity
@model AutoServiceManager.Website.Models.RegisterVieworkerModel
<div class="row">
    <h4>Utwórz nowe konto</h4>
    <hr />
    
        @using (Html.BeginForm("Newuser", "Secretary", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "CreateCustomerForm" }))
        {
        <div class="col-xs-12 col-md-8">
            <h4>Dane Konta</h4>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            @Html.EditorFor(m => m.PersonData, "PersonForm")
            <div class="form-group">

                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-default" id="createCustomer">Dodaj Osobe</button>
                    </div>
                </div>
            </div>
        
        </div>
    <input type="text" value="" name="roles" style="visibility:hidden">
        }
    <div class="col-xs-6 col-md-4">
        <h4>Stanowisko/Rola W Zakładzie</h4>
        <select id="roles" multiple style="width:400px;height:400px;">
            <option data-event="selectRole" value="Customer">Klient</option>
            <option data-event="selectRole" value="Secretary">Sekretarka</option>
            <option data-event="selectRole" value="Admin">Administrator</option>
            <option data-event="selectRole" value="Boss">Szef</option>
            <option data-event="selectRole" value="Worker">Mechanik</option>
            <option data-event="selectRole" value="Storekeeper">Majster</option>
        </select>
    </div>
</div>

<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script>
    $.fn.selectRange = function (start, end) {
        var e = document.getElementById($(this).attr('id')); // I don't know why... but $(this) don't want to work today :-/
        if (!e) return;
        else if (e.setSelectionRange) { e.focus(); e.setSelectionRange(start, end); } /* WebKit */
        else if (e.createTextRange) { var range = e.createTextRange(); range.collapse(true); range.moveEnd('character', end); range.moveStart('character', start); range.select(); } /* IE */
        else if (e.selectionStart) { e.selectionStart = start; e.selectionEnd = end; }
    };
    $.fn.searchFor = function (str) {
        var ret = null;
        $(this).each(function (index, value) {
            if ((value.indexOf(str) != -1)) {
                ret = value;
            }
        });
        console.log(str);
        console.log(ret);
        return ret;
    }
    var citiesArray = jQuery.parseJSON('@Html.Raw(ViewBag.cities)');

     $("#PersonData_Address_TempCity").on("change click", function () {
        if (!$(this).val()) {
            return true;
        }
        var StartLength = $(this).val().length;
        var Suggestion = $(citiesArray).searchFor($(this).val());
        if (Suggestion) {
            $(this).val(Suggestion);
            $(this).selectRange(StartLength, $(this).val().length);
            return false;
        }

     });
     $(document).ready(function () {
         $("#PersonData_Address_TempCity").autocomplete({
             source: citiesArray
         });
     });
</script>

<script>
    var selectedList = {};
    $(function () {
        $.each($("[data-event=selectRole]"), function () {
            $(this).attr("selected",false);
            selectedList[$(this).val()] = "";
        });

        $("[data-event=selectRole]").click(function () {
            if (selectedList[$(this).val()] === "selected") {
                selectedList[$(this).val()] = "";
                $(this).attr("selected", false);
            } else {
                selectedList[$(this).val()] = "selected";
                $(this).attr("selected",true);
            }


            var SelectedRoles = [];
            var i = 0;
            $.each($("[data-event=selectRole]"), function () {
                if (selectedList[$(this).val()] === "selected") {
                    $(this).attr("selected", true);
                    SelectedRoles[i++] = $(this).val();
                }
            });
            $("[name=roles]").val(JSON.stringify(SelectedRoles));

            console.log($("[name=roles]").val());
        });


});
</script>

