@model AutoServiceManager.Common.Model.Part

@{
    ViewBag.Title = "PartCreate";
}

<h2>PartCreate</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Part</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CataloguePartId, "CataloguePartId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CataloguePartId", String.Empty)
                @Html.ValidationMessageFor(model => model.CataloguePartId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoldPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoldPrice)
                @Html.ValidationMessageFor(model => model.SoldPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Count, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Count)
                @Html.ValidationMessageFor(model => model.Count)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
