@model AutoServiceManager.Common.Model.Part

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Part</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartFromCatalogue.PartName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartFromCatalogue.PartName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
