@model AutoServiceManager.Common.Model.Person
@{
    ViewBag.Title = "Person";
}

<div class="form-group">
    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SecondName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SecondName)
    </div>
</div>
@Html.EditorFor(m => m.Address, "AddresForm")


