@model IEnumerable<AutoServiceManager.Common.Model.PartOperation>

@{
    ViewBag.Title = "Zapotrzebowanie na części zgłoszone przez mechaników";
}

<h2>Zapotrzebowanie na części zgłoszone przez mechaników</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Part.PartFromCatalogue.PartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Part.PartFromCatalogue.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Part.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Part.Cost)
        </th>
        <th>
            Mechanik
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Part.PartFromCatalogue.PartName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Part.PartFromCatalogue.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Part.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Part.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Worker.FirstName)
            @Html.DisplayFor(modelItem => item.Worker.SecondName)
        </td>
        <td>
            @Html.ActionLink("Zaakceptuj", "Approve", new { id = item.Id }) |
            @Html.ActionLink("Odrzuć", "Reject", new { id = item.Id })
        </td>
    </tr>
}

</table>
